@model List<KidsToys.BL.Producto>

@{
    ViewBag.Title = "Inicio";
}

 <!-- Featured Starts Here -->
<div class="featured-items">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Elementos Destacados</h1>
                </div>
            </div>
         
                <div class="col-md-12">
                <div class="owl-carousel owl-theme">
                    @foreach (var producto in Model
                        .Where(r=> r.Categoria.Descripcion =="Juguetes")
                        .Take(4)
                        .OrderBy(r => Guid.NewGuid())
                        )
                    {

                    <a href="single-product.html">
                        <div class="featured-item">
                            <img src="@(ViewBag.adminWebsiteUrl + producto.UrlImagen)" alt="">
                            
                            <h4>@producto.Descripcion</h4>
                            <h6>L @producto.Precio</h6>
                        </div>
                    </a>
                    }
                   
                   </div>
                </div>
            </div>
        </div>
    </div>

<!-- Featred Ends Here -->
